% Copyright 2014 - Joseph Lisee <jlisee@gmail.com>

{# Hack needed to get braces #}
{% set lb = '{' %}
{% set rb = '}' %}

\documentclass[11pt,a4paper,sans]{moderncv}

\moderncvstyle{casual}
\moderncvcolor{red}

% Turn off page numbers
%\nopagenumbers{}

% character encoding (probably not needed)
%\usepackage[utf8]{inputenc}

% adjust the page margins
\usepackage[scale=0.75]{geometry}
% Width of column with dates
%\setlength{\hintscolumnwidth}{3cm}

% For classic style force width of name and avoid line brakes
% (be careful it can brake things)
%\setlength{\makecvtitlenamewidth}{10cm}

% personal data
\name{{personal.name.first|br}}{{personal.name.last|br}}
% optional title
%\title{Resume title}

%\address{street and number}{postcode city}{country}
%\phone[mobile]{+1~(234)~567~890}
%\phone[fixed]{+2~(345)~678~901}
%\phone[fax]{+3~(456)~789~012}
\email{{personal.email|br}}
\homepage{{personal.homepage|br}}
% Optional social info
%\social[linkedin]{john.doe}
%\social[twitter]{jdoe}
%\social[github]{jdoe}
% Optional extra info
%\extrainfo{additional information}
% First is picture height second if frame width
\photo[64pt][0.4pt]{{personal.portrait|stripext|br}}
% Optional quote line
%\quote{Some quote}

% to show numerical labels in the bibliography (default is to show no % labels); only useful if you make citations in your resume
%\makeatletter
%\renewcommand*{\bibliographyitemlabel}{\@biblabel{\arabic{enumiv}}}
%\makeatother
% CONSIDER REPLACING THE ABOVE BY THIS
%\renewcommand*{\bibliographyitemlabel}{[\arabic{enumiv}]}

% bibliography with mutiple entries
%\usepackage{multibib}
%\newcites{book,misc}{ {Books},{Others} }
%--------------------------------------------------------------------------
%            content
%--------------------------------------------------------------------------
\begin{document}

%-----       resume     -------------------------
\makecvtitle

\section{Education}
{% for deg in education %}
\cventry{{lb}}{{deg.started|dateyear}}--{{deg.finished|dateyear}}{{rb}}{{deg.degree|br}}{{deg.institution|br}}{{deg.location|br}}{\textit{{deg.gpa|br}}}{}
{% endfor %}

% No {Description} at the end of education

%% \section{Master thesis}
%% \cvitem{title}{\emph{Title}}
%% \cvitem{supervisors}{Supervisors}
%% \cvitem{description}{Short thesis abstract}

\section{Experience}
{% for group in experience %}
{% set gname = group.keys()[0] %}
{% set jobs = group.values()[0] %}
\subsection{{gname|br}}
{% for job in jobs %}
\cventry{{lb}}{{job.started|dateyear}}--{{job.finished|dateyear}}{{rb}}{{job.title|br}}{{job.organization|br}}{{job.location|br}}{}{
\begin{itemize}
{% for item in job.experience -%}
\item {{item}}
{% endfor -%} 
\end{itemize}}
{% endfor %}
{% endfor %}

{% for stype, sitems in skills.items() %}
\section{{stype|br}}
{%- for sitem in sitems -%}
\cvlistitem{{sitem|br}}
{% endfor -%}
{% endfor %}

%% \section{Languages}
%% \cvitemwithcomment{Language 1}{Skill level}{Comment}
%% \cvitemwithcomment{Language 2}{Skill level}{Comment}
%% \cvitemwithcomment{Language 3}{Skill level}{Comment}

%% \section{Computer skills}
%% \cvdoubleitem{category 1}{XXX, YYY, ZZZ}{category 4}{XXX, YYY, ZZZ}
%% \cvdoubleitem{category 2}{XXX, YYY, ZZZ}{category 5}{XXX, YYY, ZZZ}
%% \cvdoubleitem{category 3}{XXX, YYY, ZZZ}{category 6}{XXX, YYY, ZZZ}

%% \section{Interests}
%% \cvitem{hobby 1}{Description}
%% \cvitem{hobby 2}{Description}
%% \cvitem{hobby 3}{Description}

%% \section{Extra 1}
%% \cvlistitem{Item 1}
%% \cvlistitem{Item 2}
%% \cvlistitem{Item 3. This item is particularly long and therefore normally spans over several lines. Did you notice the indentation when the line wraps?}

%% \section{Extra 2}
%% \cvlistdoubleitem{Item 1}{Item 4}
%% \cvlistdoubleitem{Item 2}{Item 5\cite{book1}}
%% \cvlistdoubleitem{Item 3}{Item 6. Like item 3 in the single column list before, this item is particularly long to wrap over several lines.}

%% \section{References}
%% \begin{cvcolumns}
%%   \cvcolumn{Category 1}{\begin{itemize}\item Person 1\item Person 2\item Person 3\end{itemize}}
%%   \cvcolumn{Category 2}{Amongst others:\begin{itemize}\item Person 1, and\item Person 2\end{itemize}(more upon request)}
%%   \cvcolumn[0.5]{All the rest \& some more}{\textit{That} person, and \textbf{those} also (all available upon request).}
%% \end{cvcolumns}

% Publications from a BibTeX file without multibib
%  for numerical labels: \renewcommand{\bibliographyitemlabel}{\@biblabel{\arabic{enumiv}}}% CONSIDER MERGING WITH PREAMBLE PART
%  to redefine the heading string ("Publications"): \renewcommand{\refname}{Articles}
\nocite{*}
\bibliographystyle{plain}
\bibliography{publications}                        % 'publications' is the name of a BibTeX file

% Publications from a BibTeX file using the multibib package
%\section{Publications}
%\nocitebook{book1,book2}
%\bibliographystylebook{plain}
%\bibliographybook{publications}                   % 'publications' is the name of a BibTeX file
%\nocitemisc{misc1,misc2,misc3}
%\bibliographystylemisc{plain}
%\bibliographymisc{publications}                   % 'publications' is the name of a BibTeX file

\end{document}
